{% extends 'site_base.html' %}
{% load profiles_tags %}
{% load i18n %}
{% load bookmark_tags %}
{% load comments %}
{% load compressed %}

{% block head_title %}{{ bookmark.title }}{% endblock %}
{% block body %}
    <div class="row-fluid bookmark-detail">
        <div class="span3" id="lists">
            {% with bookmark.user.profile_set.all|first as profile %}
            <div class="row-fluid">
                <div class="span4">
                    <a href="{% url bookmark_profile bookmark.user %}">
                        <img class="avatar" alt="{{ bookmark.user }}" src="{% avatar bookmark.user.email 64 %}&r=r" />
                    </a>
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <a href="{% url bookmark_profile bookmark.user %}">
                            <h4>{{ bookmark.user }}</h4>
                        </a>
                        <small class="muted signature">{{ profile.signature }}</small>
                    </div>
                </div>
            </div>
            <hr>
            {% if user != bookmark.user %}
            <div class="row-fluid">
                {% with user|is_user_followed:bookmark.user as followed %}
                    <a href="{% if user.is_authenticated %}javascript:;{% else %}{% url account_login %}{% endif %}" 
                        class="follow-buttons {% if not followed %} hide {% endif %}{%if user == bookmark.user %}disabled {% else %}{% endif %} 
                        {% if user.is_authenticated %}
                            unfollow-button
                        {% endif %} btn btn-block " 
                        data-id="{{ followed.id }}">
                        {% trans "Cancel Following" %}
                    </a>
                    <a href="{% if user.is_authenticated %}javascript:;{% else %}{% url account_login %}{% endif %}" 
                        class="follow-buttons {% if followed %} hide {% endif %}{%if user == bookmark.user %}disabled {% else %} btn-primary {% endif %} 
                        {% if user.is_authenticated %}
                            follow-button
                        {% endif %} btn btn-block " 
                            data-id="{{ bookmark.user.id }}">
                        {% trans "Follow" %}
                    </a>
                {% endwith %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <div class="span9">
            {% include 'bookmark/includes/bookmark.html'%}
        </div>
    </div>
    {% include 'bookmark/js/comment.html' %}
    {% include 'bookmark/js/bookmark_form.html' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.atwho.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var USER_ID = {{user.id}};
    var USER_URL = "/api/v1/user/" + USER_ID;
    var USER_NAME  = "{{user.username}}";
    var bookmark_id = {{ bookmark.id }};
</script>
{% compressed_js 'bookmark_detail' %}
{% endblock %}

