{% extends 'site_base.html' %}

{% load profiles_tags %}
{% load i18n %}
{% load follow_tags %}
{% load bookmark_tags %}
{% load phileo_tags %}
{% load staticfiles %}

{% block extra_style %}
<style type="text/css" media="screen">
    {% if list.image %}
    #list-header {
        background-image: url("{{ list.image.url }}");
    }
    {% endif %}
</style>    
{% endblock %}
{% block body_class %}list-detail{% endblock %}
{% block head_title %}{{ list.name }}{% endblock %}
{% block body %}
        {% if list %}
        <div class="page-title hero-unit" id="list-header">
            <div class="row-fluid">
                <div class="span12">
                    <h1 class="">
                        <span class="list-name">{{ list.name }}</span> 
                        &nbsp;<small class="label label-success">
                        {% if list.public %}<i class="icon-unlock"></i> {% else %}&nbsp;<i class="icon-lock"></i>&nbsp; {% endif %}
                        </small>
                    </h1>
                    <p>
                    {% if user.is_authenticated and user != list.user %}
                        {% follow_form list %}
                    {% endif %}
                    </p>
                </div>
            </div>
            {% comment %}
            {% if user != list.user %}
            <div class="row-fluid">
                {% with user|is_user_followed:list.user as followed %}
                    <a href="{% if user.is_authenticated %}javascript:;{% else %}{% url account_login %}{% endif %}" 
                        class="follow-buttons {% if not followed %} hide {% endif %}{%if user == list.user %}disabled {% else %}{% endif %} 
                        {% if user.is_authenticated %}
                            unfollow-button
                        {% endif %} btn btn-block " 
                        data-id="{{ followed.id }}">
                        {% trans "Cancel Following" %}
                    </a>
                    <a href="{% if user.is_authenticated %}javascript:;{% else %}{% url account_login %}{% endif %}" 
                        class="follow-buttons {% if followed %} hide {% endif %}{%if user == list.user %}disabled {% else %} btn-primary {% endif %} 
                        {% if user.is_authenticated %}
                            follow-button
                        {% endif %} btn btn-block " 
                            data-id="{{ list.user.id }}">
                        {% trans "Follow" %}
                    </a>
                {% endwith %}
            </div>
            {% endif %}
            {% endcomment %}
        </div>
        {% endif %}
    <div class="row bookmarks ">
        <div class="span3">
            <h5 class="contributor-header">贡献者</h5>
            <a href="{% url bookmark_profile list.user %}">
                <img class="avatar" alt="{{ list.user }}" src="{% avatar list.user.email 32 %}&r=r" />
            </a>
            <hr>
        </div>
        <div class="span9 list">
            {% include 'bookmark/includes/bookmarks.html' %}
        </div>
    </div>
    {% include 'bookmark/js/bookmark_form.html' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    var USER_ID = {% if user.id %}{{ user.id }}{% else %}null{% endif %};
    var USER_URL = "/api/v1/user/" + USER_ID;
    var USER_NAME  = "{{user.username}}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}js/bookmark_embed.js"></script>
{% endblock %}

