{% extends 'site_base.html' %}
{% load gravatar %}
{% load i18n %}
{% load bookmark_tags %}
{% load compressed %}

{% block head_title %}{{ list.name }}{% endblock %}
{% block body %}
    <div class="row bookmarks list-domain">
        <div class="span3" id="lists">
            <div class="page-header">
                <h4>{% trans "Sharer" %}</h4>
            </div>
            {% for contributor in contributors %}
                <a href="{% url bookmark_profile contributor %}" title="{{ contributor }}">
                    <img class="avatar" alt="{{ contributor }}" src="{% gravatar_for_email contributor.email 32 %}&r=r" />
                </a>
            {% endfor %}
        </div>
        <div class="span9 list">
            <div class="row-fluid list-header">
                <h2 class="span10">
                    {% trans "Domain:" %}{{ domain }}
                    <small>
                        <a href="http://{{ domain }}" target="_blank"><i class="icon-external-link"></i></a>
                    </small>
                </h2>
            </div>
            {% include 'bookmark/includes/bookmarks.html' %}
        </div>
    </div>
    {% include 'bookmark/js/bookmark_form.html' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript" charset="utf-8">
    var USER_ID = {% if user.id %}{{ user.id }}{% else %}null{% endif %};
    var USER_NAME  = "{{user.username}}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js" charset="utf-8"></script>
{% compressed_js 'bookmark_embed' %}
{% endblock %}

