{% load i18n %}
    <!-- Create Bookmark Form Template -->
    <script type="text/html" id="bookmark-form-tmpl" charset="utf-8">
        <div class="modal fade hide" id="bookmark-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="">
                    <span class="new-title-text">{% trans "Add new bookmark" %}</span> 
                    <span class="edit-title-text hide">{% trans "Edit bookmark" %}</span> 
                    <small>
                        <img class="spinner" src="{{ STATIC_URL }}img/spinner.gif" />
                        <span class="hide existed label label-success">{% trans "Already bookmarked" %}</span>
                    </small>
                </h3>
            </div>
            <form action="" class="row-fluid" method="post" accept-charset="utf-8">
            <div class="modal-body">
                    <input type="hidden" name="url" value="<%- bookmark.url %>" class="disabled span12" />
                    <label>{% trans "Webpage Title" %}</label>
                    <input type="text" name="title" value="<%- bookmark.title %>" class="span12" />
                    <label>{% trans "Note" %}</label>
                    <textarea name="note" class="span12"><%- bookmark.note %></textarea>
                    <label>{% trans "Lists" %}</label>
                    <select name="list" class="list span12">
                    </select>
                    <label>{% trans "Tags" %}</label>
                    <div class="row-fluid">
                    <input type="text" class="tag span12" name="tags" placeholder="{% trans "输入标签名后按回车键" %}" value="<%- bookmark.tags %>" class="span12" />
                    </div>
                    
                    <input type="hidden" name="domain" value="<%- bookmark.domain %>" />
                    <input type="hidden" name="user" value="<%- bookmark.user %>" />
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                <button type="submit" class="btn btn-primary save">{% trans "Save" %}</button>
            </div>
            </form>
        </div>
    </script>
