{% load i18n %}
    <!-- Create Bookmark Form Template -->
    <script type="text/html" id="bookmark-form-tmpl" charset="utf-8">
            <div class="row-fluid">
                <div class="existed-bookmark span10">
                    <span class="spinner">&nbsp</span>
                    <span class="text hide">
                        {% trans "The link is bookmarked before." %} 
                        <% if(list && list.id != 'feed'){ %><a href="javascript:;" class="btn edit btn-info btn-mini">{% trans "Modify existing bookmark" %}</a>
                        <% } %>
                    </span>
                </div>
            </div>
            <form action="" class="row-fluid" method="get" accept-charset="utf-8">
                <input type="hidden" name="url" value="<%- bookmark.url %>" class="disabled span10" />
                <label>{% trans "Webpage Title" %}</label>
                <input type="text" name="title" value="<%- bookmark.title %>" class="span10" />
                <label>{% trans "Note" %}</label>
                <textarea name="note" class="span10"><%- bookmark.note %></textarea>
                <label>{% trans "Lists" %}</label>
                <select name="list" id="list" class="span10">
                </select>
                <label>{% trans "Tags" %}</label>
                <input type="text" name="tags" placeholder="{% trans "Seperate multiple tags by space" %}" value="<%- bookmark.tags %>" class="span10" />
                
                <input type="hidden" name="domain" value="<%- bookmark.domain %>" />
                <input type="hidden" name="user" value="<%- bookmark.user %>" />
                <p><input type="submit" value="{% trans "Save" %}" class="btn save btn-success" />
                    &nbsp;<a href="javascript:;" class="btn cancel">{% trans "Cancel" %}</a>
                </p>
            </form>
    </script>

