--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/

Django==1.4.2
pinax-theme-bootstrap==2.2.2
#pinax-theme-bootstrap-account==1.0b2
#django-user-accounts==1.0b7
git+https://github.com/fay/pinax-theme-bootstrap-account
git+https://github.com/fay/django-user-accounts
django-forms-bootstrap==2.0.3.post1
metron==1.0
pinax-utils==1.0b1.dev3
eventlog==0.6
django-jsonfield==0.8.11
django-tagging
MySQL-python
PIL
requests==2.3.0
#### snapshot need 3.2.0 because of html entitie, like `>` will be &gt.
BeautifulSoup==3.2.0
django-tastypie==0.9.13
kombu==2.4.3
django-positions==0.4.3
git+https://github.com/fay/jieba
yuicompressor
git+https://github.com/eldarion/idios.git
git+https://github.com/fay/pinax-theme-bootstrap
git+https://github.com/fay/django-social-auth
django-guardian
django-fluent-comments
git+https://github.com/eldarion/agon
raven
django-endless-pagination
gravatar
django-notifications-hq==0.6.0
django-pagination==1.0.7
kaleo==1.1
django-gravatar==0.1.0
south==0.8.2
django-avatar==2.0a10
django-xadmin==0.4.0
django-reversion==1.7.1
celery==3.0.24
celery-with-redis==3.0
django-celery==3.0.11
django-celery-email==1.0.1
pyelasticsearch==0.6.1
django-haystack==2.1.0
sorl-thumbnail==11.09
#: there will be a tagging module conflict, delete the emencia.django.newsletter dependant tagging
emencia.django.newsletter==0.2
phileo==1.1
django-follow==0.6.1
django-compressor==1.4
beautifulsoup4==4.3.2
git+https://github.com/fay/url2feed
pyfav==0.1
