{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Avatar" %}
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span9">
    </div>
</div>
<div class="page-title">
    <h1 class="avatar-wrapper">
    {% avatar user %}
    </h1>
</div>
<hr class="soften">
<div class="row-fluid avatar-change">
    <div class="span6 well">
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
                {{ primary_avatar_form }}
            <p>{% csrf_token %}<input class="btn btn-primary" type="submit" value="{% trans "Choose new Default" %}" /></p>
        </form>
    {% endif %}
    </div>
    <div class="span6 well">
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input class="btn btn-primary" type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>
    </div>
</div>
{% endblock %}
