<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background-color:#f7f7f7;">
                  <tbody><tr>
                  <td align="center" valign="top">
                        <br>
                        <table border="0" cellpadding="0" cellspacing="0" class="main-view" style="background-color:#fff; width:600px; border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 3px #a0a0a0; -moz-box-shadow: 0 0 3px #a0a0a0; box-shadow: 0 0 3px #a0a0a0;">
                              <tbody><tr>
                              <td align="center" valign="top">
                                     <table style="width:100%; text-align:center;">
                                          <tbody>
                                            <tr>
                                              <td> 
                                                    <h1 style="color:#333; font-weight:normal; padding-top:30px; font-size:30px; font-family:Helvetica,Arial;">
                                                        {{ subject }}
                                                    </h1>
                                                </td>
                                            </tr>
                                          <tr>
                                              <td><hr style="border:none; border-bottom:1px solid #ddd;"></td>
                                          </tr>
                                    </tbody></table>
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateBody">
                                          <tbody><tr>
                                          <td valign="top" class="bodyContent">
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                <tbody><tr>
                                                      <td valign="top" style="padding:25px; color:#333; font-size:16px;" class="page-body">
                                                            <p>{{ body }}</p>

                                                      </td>
                                                </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        <br>
                        <table style="width:600px;">
                              <tbody><tr>
                                      <td style="color:#333; font-size:12px;"><b>© <a href="http://lianpeng.me" target="_blank">莲蓬</a></b>
                                        {% if unsubscribe_link %}
                                        <a href="{{ unsubscribe_link }}" style="color:#333; font-size:12px;">取消订阅</a>
                                        {% endif %}
                                    </td>
                                    <td style="color:#333; font-size:12px; text-align:right;" width="130px">
                                      <table style="width:100%;">
                                        <tbody><tr>
                                          <td style="text-align:right; vertical-align:top;">
                                          </td>
                                          <td style="width:15px; padding-top:2px; vertical-align:top; text-align:right;">
                                          </td>
                                        </tr>
                                      </tbody></table>
                                    </td>
                              </tr>
                        </tbody></table>

                        <br>
                    </td>
                </tr>
            </tbody></table>
