{% load i18n %}
{% load notifications_tags %}
{% load kaleo_tags %}

<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        {% notifications_unread as unread_count %}
        <li><a href="#feedback" data-toggle="modal">{% trans "Feedback" %}</a></li>
        <li><a href="{% url help %}" data-toggle="modal">{% trans "Help" %}</a></li>
        <li>
            <a href="{% url notifications:mark_all_as_read %}">{% trans "Notifications" %} 
            {% if unread_count %}<span class="badge badge-mini badge-success">{{ unread_count }}</span>{% endif %}
            </a>
        </li>
        {% include '_user_menu.html' %}
    {% else %}
        <li><a href="{% url account_login %}">{% trans "Log in" %}</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url account_signup %}">{% trans "Sign up" %}</a></li>
        {% endif %}
    {% endif %}
</ul>
