{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load staticfiles%}
{% block style_base %}
     <meta property="wb:webmaster" content="26edd2ff75a2a8fc" />
     <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
     <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
     <link href="{% static "css/welcome.css" %}" rel="stylesheet">
     <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
     <!--[if IE 6]>
     <link href="{% static "css/ie6.css" %}" rel="stylesheet">
     <![endif]-->
     <!--[if IE 7]>
     <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
     <![endif]-->
     <style type="text/css" media="screen">
        .atwho-view {
            position:absolute;
            top: 0;
            left: 0;
            display: none;
            margin-top: 18px;
            background: white;
            border: 1px solid #DDD;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            min-width: 120px;
            z-index: 10;
        }

        .atwho-view .cur {
            background: #3366FF;
            color: white;
        }
        .atwho-view .cur small {
            color: white;
        }
        .atwho-view strong {
            color: #3366FF;
        }
        .atwho-view .cur strong {
            color: white;
            font:bold;
        }
        .atwho-view ul {
            /* width: 100px; */
            list-style:none;
            padding:0;
            margin:auto;
        }
        .atwho-view ul li {
            display: block;
            padding: 5px 10px;
            border-bottom: 1px solid #DDD;
            cursor: pointer;
            /* border-top: 1px solid #C8C8C8; */
        }
        .atwho-view small {
            font-size: smaller;
            color: #777;
            font-weight: normal;
        }
    </style>
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
  <!--[if lt IE 9]>
    <div class="container">
        
      <div class="alert alert-danger">
        为达到最佳体验效果，建议使用 <a href="http://www.google.com/chrome" target="_blank" title="下载 Chrome 浏览器">Chrome,</a> <a href="http://www.apple.com/safari" target="_blank" title="下载 Safari 浏览器">Safari,</a> <a href="http://firefox.com.cn/download/" target="_blank" title="下载 Firefox 浏览器">Firefox</a>
      </div>
    </div>
  <![endif]-->
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base.js?v=4" %}" charset="utf-8"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        {% block body %}
        {% endblock %}
    </div>
    {% block extra_inner_body%}
    {% endblock %}
    {% block footer_base %}
    <div class="container">
        <footer>
            {% block footer %}
                {% include "_footer.html" %}
            {% endblock %}
        </footer>
    </div>
    {% endblock %}
{% endblock %}
{% block extra_body_base %}
    <div class="hide">
        {% trans "now" %}
    </div>
    <div class="modal hide" id="feedback">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans "Feedback" %}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <textarea name="text" rows="8" class="span12" placeholder="{% trans "Help us to make it better." %}"></textarea>
            </div>
            <div class="alert alert-success success hide">
                {% trans "Thank for your feedback, we will deal with it carefully." %}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
            <a href="#" class="btn btn-primary confirm">{% trans "Confirm" %}</a>
        </div>
    </div>
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
