{% extends "theme_base.html" %}

{% load compress %}
{% load metron_tags %}
{% load i18n %}
{% load staticfiles%}

{% block style_base %}
    <meta property="wb:webmaster" content="26edd2ff75a2a8fc" />
    {% compress css %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "js/select2/select2.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bbtn.css" type="text/css" media="screen" charset="utf-8">
    <!--[if IE 6]>
    <link href="{% static "css/ie6.css" %}" rel="stylesheet">
    <![endif]-->
    <!--[if IE 7]>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <style type="text/css" media="screen">
        .atwho-view {
            position:absolute;
            top: 0;
            left: 0;
            display: none;
            margin-top: 18px;
            background: white;
            border: 1px solid #DDD;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            min-width: 120px;
            z-index: 10;
        }

        .atwho-view .cur {
            background: #3366FF;
            color: white;
        }
        .atwho-view .cur small {
            color: white;
        }
        .atwho-view strong {
            color: #3366FF;
        }
        .atwho-view .cur strong {
            color: white;
            font:bold;
        }
        .atwho-view ul {
            /* width: 100px; */
            list-style:none;
            padding:0;
            margin:auto;
        }
        .atwho-view ul li {
            display: block;
            padding: 5px 10px;
            border-bottom: 1px solid #DDD;
            cursor: pointer;
            /* border-top: 1px solid #C8C8C8; */
        }
        .atwho-view small {
            font-size: smaller;
            color: #777;
            font-weight: normal;
        }
    </style>
    {% block extra_style %}{% endblock %}
    {% endcompress %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
{% endblock %}
{% block nav %}
<ul class="nav">
    <li>
        <a href="{% url bookmark_explore %}"><i class="icon icon-bolt"></i>{% trans "Explore" %}</a>
    </li>
    <li>
        <a href="{% url bookmark_tools %}"><i class="icon icon-wrench"></i>{% trans "Tools" %}</a>
    </li>
    {% if user.is_authenticated %}
    <form class="navbar-form search pull-left" tag-action="/{{user.username}}/tag/" action="/{{user.username}}/search/">
        <div class="input-append">
            <input type="text" name="query" class="span3 query"><button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
    </form>
    {% endif %}
</ul>

{% endblock %}
{% block script_base %}
    <div class="modal hide" id="feedback">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>{% trans "Feedback" %}</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid feedback-input-area">
                <div class="span3">
                    <i class="icon-heart"></i>
                </div>
                <textarea name="text" rows="8" class="span9" placeholder="{% trans "Help us to make it better." %}"></textarea>
            </div>
            <div class="alert alert-success success hide">
                {% trans "Thank for your feedback, we will deal with it carefully." %}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
            <a href="#" class="btn btn-primary confirm">{% trans "Confirm" %}</a>
        </div>
    </div>
    {% compress js %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript" src="{% static "js/base.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/noty/jquery.noty.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/noty/layouts/top.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/noty/themes/default.js?v=2" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2/select2.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2/select2_locale_zh-CN.js" charset="utf-8"></script>
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
    {% block extra_script %}{% endblock %}
    {% endcompress %}
{% endblock %}
{% block body_base %}
    <div class="container body-container">
        {% block messages %}
            {% include "_messages.html" %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>
    {% block extra_inner_body%}
    {% endblock %}
    {% block footer_base %}
    <div class="container">
        <hr />
        <footer>
            {% block footer %}
                {% include "_footer.html" %}
            {% endblock %}
        </footer>
    </div>
    {% endblock %}
{% endblock %}
{% block extra_body_base %}
    <div class="hide">
        {% trans "now" %}
    </div>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/noty/layouts/topCenter.js"></script>
        <script type="text/javascript" charset="utf-8">
            noty({text: 
                    '为达到最佳体验效果，建议使用 <a href="http://www.google.com/chrome" target="_blank" title="下载 Chrome 浏览器">Chrome,</a> <a href="http://www.apple.com/safari" target="_blank" title="下载 Safari 浏览器">Safari,</a> <a href="http://firefox.com.cn/download/" target="_blank" title="下载 Firefox 浏览器">Firefox</a>',
                    type:'warning',
                    layout: 'topCenter'
                    });
        </script>
    <![endif]-->
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
