{% load i18n %}
{% load endless %}
                {% if bookmarks %}
                {% paginate 20 bookmarks %}
                 <div class="row-fluid bookmarks-box">
                     <div class="span12">
                        {% for bookmark in bookmarks %}
                            {% include 'bookmark/includes/bookmark.html'%}
                        {% endfor %}
                        <div class="pagination">
                            <ul>
                                {% show_pages %}
                            </ul>
                        </div>
                     </div>
                 </div>
                {% else %}
                <div class="row-fluid empty-box">
                    <div class="span12">
                        <p>{% trans "There are no public bookmarks." %}</p>
                    </div>
                </div>
                {% endif %}

